:root {
  --main-color: #8f95a5;
  --logo-color: #939393;
  --title-color: #000000;
  --menu-color: #263238;
  --numbers-color: #2a3246;
  --period-color: #546269;
  --button-color: #ffffff;
  --main-bcg: #ffffff;
  --item-bcg: #f5f5f5;
  --price-bcg: #eeeeee;
  --button-border-color: #263238;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  display: block;
  padding: 0;
}

body {
  color: var(--main-color);
  background-color: var(--main-bcg);
  font-family: "Poppins", sans-serif;
}

@media screen and (min-width: 320px) {
  .section {
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 575px) {
  .section {
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 992px) {
  .section {
    padding-bottom: 130px;
  }
}
@media screen and (min-width: 1366px) {
  .section {
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 320px) {
  .section:last-child {
    padding-bottom: 55px;
  }
}
@media screen and (min-width: 1366px) {
  .section:last-child {
    padding-bottom: 80px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 575px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 958px;
  }
}
@media screen and (min-width: 1366px) {
  .container {
    width: 1366px;
  }
}

.button {
  width: 289px;
  height: 60px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--button-color);
  background-color: var(--button-border-color);
}
@media screen and (min-width: 1366px) {
  .button {
    font-size: 36px;
  }
}

.header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 236px;
  color: var(--logo-color);
  font-size: 36px;
  line-height: 1.5;
}

.logo-black {
  color: var(--title-color);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.menu-link {
  color: var(--menu-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

.header-button {
  margin-left: auto;
  padding: 20px 109px;
  color: var(--title-color);
  background-color: var(--main-bcg);
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  border: 2px solid var(--button-border-color);
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 1366px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero::before {
  content: "";
  display: block;
  width: 299px;
  height: 299px;
  background-image: url(../images/hero-learning-languages.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero__title {
  margin-bottom: 20px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (min-width: 1366px) {
  .hero__title {
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 1.25;
  }
}

.hero__text {
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 1366px) {
  .hero__text {
    margin-bottom: 60px;
    font-size: 24px;
  }
}

.skills-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.skils-item-speaking {
  background-color: var(--item-bcg);
  padding-left: 18px;
  padding-bottom: 154px;
}

.skills-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.skils-item {
  background-color: var(--item-bcg);
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  padding-left: 18px;
  padding-bottom: 32px;
}

.skils-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-title {
  margin-top: 24px;
  margin-bottom: 60px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.skills-sub-title {
  margin-bottom: 20px;
  color: var(--menu-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.5;
}

.skills-text {
  margin-bottom: 30px;
  max-width: 350px;
  font-size: 16px;
  line-height: 1.5;
}

.skills-button {
  padding: 15px 52px;
  color: var(--button-color);
  background-color: var(--button-border-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-title {
  margin-bottom: 60px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.about-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.8;
}

.about-info {
  margin-right: 146px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-item {
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.who {
  max-width: 100px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}

.numbers {
  color: var(--numbers-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.pricing-title {
  margin-bottom: 60px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
  text-align: center;
}

.pricing-item {
  width: calc((100% - 60px) / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricing-sub-title {
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--menu-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
}

.pricing-text {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}

.pound-period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: auto;
  padding-right: 22px;
  padding-left: 29px;
  gap: 30px;
  background-color: var(--price-bcg);
}

.pounds {
  color: var(--menu-color);
  font-size: 24px;
  line-height: 1.5;
}

.period {
  color: var(--period-color);
  font-size: 18px;
  line-height: 1.5;
}

.contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-img {
  margin-right: 144px;
}

.contacts-title {
  margin-bottom: 60px;
  color: var(--title-color);
  font-weight: 600;
  font-size: 48px;
  line-height: 1.5;
}

.contacts-text {
  margin-bottom: 30px;
  width: 654px;
  font-size: 20px;
  line-height: 1.5;
}

.form-input-text {
  margin-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 1.875;
  border: 1px solid var(--main-color);
  border-radius: 10px;
}

.contacts-button {
  margin-left: auto;
  padding: 20px 103px;
  color: var(--button-color);
  background-color: var(--button-border-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.footer {
  padding-top: 55px;
  padding-bottom: 55px;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.footer-nav {
  color: var(--main-color);
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=main.css.map */