:root {
  --main-color: #8f95a5;
  --logo-color: #939393;
  --title-color: #000000;
  --menu-color: #263238;
  --numbers-color: #2a3246;
  --period-color: #546269;

  --button-color: #ffffff;

  --main-bcg: #ffffff;
  --item-bcg: #f5f5f5;
  --price-bcg: #eeeeee;
  --button-border-color: #263238;

  --border-footer: #c4c4c4;
}
