.button {
  margin-left: auto;
  margin-right: auto;
  width: 289px;
  height: 60px;

  border: none;
  border-radius: 10px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;

  color: var(--button-color);
  background-color: var(--button-border-color);

  @include smartphone {
    width: 305px;
    height: 75px;
    font-size: 18px;
  }

  @include tablet {
    margin-left: 0;
    width: 236px;
    height: 65px;
  }

  @include laptop {
    width: 292px;
    height: 80px;
    font-size: 24px;
  }

  @include desktop {
    width: 426px;
    height: 100px;
    font-size: 36px;
  }
}

.button--header {
  margin-left: 0;

  width: 160px;
  height: 50px;

  font-size: 18px;

  color: var(--title-color);
  background-color: var(--main-bcg);
  border: 2px solid var(--button-border-color);

  @include laptop {
    margin-left: auto;
    margin-right: 0;
  }

  @include desktop {
    width: 312px;
    height: 70px;

    font-size: 20px;
  }
}

.button--skills {
  width: 178px;
  height: 50px;

  font-size: 14px;

  @include smartphone {
    margin-top: auto;
  }

  @include tablet {
    font-size: 16px;
  }

  @include laptop {
    width: 200px;
    height: 60px;

    font-size: 18px;
  }

  @include desktop {
    width: 218px;

    font-size: 20px;
  }
}
