.navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;

  @include laptop {
    flex-direction: row;
    gap: 30px;
    margin-bottom: 0;
  }

  @include desktop {
    gap: 50px;
  }
}

.navigation__link {
  color: var(--menu-color);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;

  @include laptop {
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @include desktop {
    font-size: 20px;
  }
}
