.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;

  @include mobile {
    width: 320px;
  }

  @include smartphone {
    width: 575px;
  }

  @include tablet {
    width: 768px;
    padding-right: 20px;
    padding-left: 20px;
  }

  @include laptop {
    width: 974px;
  }

  @include desktop {
    width: 1378px;
  }
}
