.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    gap: 78px;
  }
  @include desktop {
    gap: 146px;
  }
}

.about-us__wrap {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;

  @include tablet {
    text-align: left;
  }
}

.about-us__title {
  color: var(--title-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;

  @include smartphone {
    font-size: 30px;
  }

  @include laptop {
    font-size: 36px;
  }

  @include desktop {
    font-size: 48px;
  }
}

.about-us__title::after {
  content: "";
  display: flex;
  flex-shrink: 0;
  width: 283px;
  height: 283px;
  margin-left: auto;
  margin-right: auto;

  background-image: url(../images/about-us.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include smartphone {
    width: 352px;
    height: 352px;
  }

  @include tablet {
    display: none;
  }
}

.about-us::after {
  @include tablet {
    content: "";
    display: flex;
    flex-shrink: 0;
    width: 295px;
    height: 295px;
    margin-left: auto;
    margin-right: auto;

    background-image: url(../images/about-us.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  @include laptop {
    width: 336px;
    height: 336px;
  }

  @include desktop {
    width: 540px;
    height: 540px;
  }
}

.about-us__text {
  font-size: 13px;
  line-height: 1.53;

  @include smartphone {
    font-size: 14px;
    line-height: 1.5;
  }

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 1.8;
  }
}

.about-us__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  @include smartphone {
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include tablet {
    justify-content: space-between;
  }

  @include laptop {
    justify-content: space-evenly;
  }
}

.about-us__item {
  text-align: center;
}

.about-us__subject {
  font-size: 14px;
  line-height: 1.5;

  @include tablet {
  }

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.about-us__number {
  color: var(--numbers-color);

  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;

  @include tablet {
    font-size: 22px;
  }

  @include laptop {
    font-size: 30px;
  }

  @include desktop {
    font-size: 48px;
  }
}
