.footer {
  padding: 35px 0;
  border-top: 1px solid var(--border-footer);
}

.footer__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include smartphone {
    flex-direction: row;
    justify-content: space-between;
  }

  @include tablet {
    align-items: center;
  }

  @include laptop {
    align-items: center;
  }

  @include desktop {
    align-items: center;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile {
    gap: 2px;
  }

  @include smartphone {
    gap: 4px;
  }

  @include tablet {
    gap: 5px;
  }

  @include laptop {
    gap: 7px;
  }

  @include desktop {
    gap: 70px;
  }
}

.footer__point {
  font-size: 11px;

  @include smartphone {
    font-size: 12px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    display: none;
  }
}

.footer__link {
  color: var(--main-color);

  font-size: 11px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.02em;

  @include smartphone {
    font-size: 12px;
  }

  @include tablet {
    font-size: 13px;
  }

  @include laptop {
    font-size: 16px;
  }

  @include desktop {
    font-size: 24px;
  }
}
