.header {
  padding-top: 30px;
  padding-bottom: 30px;

  @include desktop {
    padding-top: 55px;
    padding-bottom: 55px;
  }
}

.header__menu {
  @include laptop {
    display: flex;
    align-items: center;
  }
}

.header__mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include laptop {
    margin-right: 167px;
  }
  @include desktop {
    margin-right: 236px;
  }
}
